body{
    background-color: white;
   /* background-image: url(../front_dashcard/imagemfundo.jpg); /* Forma para colocar imagem de fundo*/
}

.cssAgenteVolume{
    color: white;
    order: 1px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    background: rgb(119,182,216);
    
}


.linhasucesso
{
    border: 1px solid green;
    margin-bottom: 5px;
    background: lightgreen;
    border-radius: 30px;
    
}

.linhafalha
{
    border: 1px solid yellow;
    margin-bottom: 5px;
    background: rgb(214, 221, 149);
    border-radius: 30px;
}

.linhafraude
{
    border: 1px solid red;
    margin-bottom: 5px;
    background:rgb(230, 137, 126);
    border-radius: 30px;
}


label{
    background-color: #0D6EFD;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: -50px;
    color: white;
    z-index: 10px;
}

#agenteVolume{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    z-index: -10;
    
}
